{% extends 'base.html' %}

{% block head %} 

{% endblock %}
{% block body %} 
<div class="topBar">
    <div class="logo">Airline Ticket System</div>
</div>

<div class="line"></div>
<div class="container">
    {%if role == 'agent' %}
    <div class="sidebar">
        <a href="/agentHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/commission" class="option">View My Comission</a>
        <a href="/topCustomers" class="option">Top Customers</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% else %}
    <div class="sidebar">
        <a href="/customerHome" class="option">Home</a>
        <a href="/viewMyFlights" class="option">View My Flights</a>
        <a href="/searchForFlights" class="option">Search for Flights</a>
        <a href="/comments" class="option">Give Comments</a>
        <a href="/trackMySpending" class="option">Track My Spending</a>
        <a href="/logout" class="option">Log out</a>
    </div>
    {% endif %}

    <div class="content">
        <div class="title">Purchase Details</div>
        <table>
            <th> Airline Name </th>
            <th> Flight Number </th>
            <th> Departure Time </th>
            <th> Arrival Time </th>
            <th> Departure from </th>
            <th> Departure City </th>
            <th> Arrive at </th>
            <th> Arrival City </th>
            <th> Price </th>
            <tr>
                <td class="dept_flight" id="dept_airline">{{flight['airline_name']}}</td>
                <td class="dept_flight" id="dept_num">{{flight['flight_num']}}</td>
                <td class="dept_flight" id="dept_time">{{flight['dept_time']}}</td>
                <td class="dept_flight">{{flight['arr_time']}}</td>
                <td class="dept_flight">{{flight['dept_from']}}</td>
                <td class="dept_flight">{{flight['city']}}</td>
                <td class="dept_flight">{{flight['arr_at']}}</td>
                <td class="dept_flight">{{flight['B.city']}}</td>
                <td class="dept_flight" id="dept_price">{{flight['current_price']}}</td>
            </tr>
            {% if return_flight %}
            <tr>
                <td class="dept_flight" id="return_airline">{{return_flight['airline_name']}}</td>
                <td class="dept_flight" id="return_num">{{return_flight['flight_num']}}</td>
                <td class="dept_flight" id="return_time">{{return_flight['dept_time']}}</td>
                <td class="dept_flight">{{return_flight['arr_time']}}</td>
                <td class="dept_flight">{{return_flight['dept_from']}}</td>
                <td class="dept_flight">{{return_flight['city']}}</td>
                <td class="dept_flight">{{return_flight['arr_at']}}</td>
                <td class="dept_flight">{{return_flight['B.city']}}</td>
                <td class="dept_flight" id="return_price">{{return_flight['current_price']}}</td>
            </tr>
            {% endif %}
        </table>
        <div class="totalPrice">
            <span>Total:</span><span id="total">{{total}}</span><br>
        </div>
        <form class="payment">
            <fieldset>
                <legend>Payment Info</legend>
                {% if role == 'agent' %}
                <div class="inputBlock">
                    <label for="cust_name">Customer Email:</label>
                    <input type="email" name="cust_email" id="cust_email">
                </div>
                {% endif %}
                <div class="inputBlock">
                    <label for="name">Name on Card:</label>
                    <input type="text" name="Name" id="name">
                </div>
                <div class="inputBlock">
                    <label for="cardnum">Card Number:</label>
                    <input type="number" name="Card number" id="cardnum">
                </div>
                <div class="inputBlock">
                    <label for="expr">Expr Date:</label>
                    <input type="month" name="Expr Date" id="expr">
                </div>
                <div class="element">Credit Card<input type="radio" name="Card type" id="credit" checked value="credit"></div>
                <div class="element">Debit Card<input type="radio" name="Card type" id="debit" value="debit"> </div>
            </fieldset>
        </form>
        <button id="checkOut" style="margin-top: 20px; margin-right: 20px; border: none; color: white; background-color: #E83015; padding: 6px 10px;border-radius: 2px; font-size: small; margin-left: 20px;" onclick="checkOut()">Check out</button>
        <a href="/searchForFlights" class="back">Back</a>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    var url = "/js/purchase.js";
    $.getScript(url);
</script>
{% endblock %}
