{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %} 
<div class="topBar">
    <div class="logo">Airline Ticket System</div>
</div>

<div class="line"></div>
    <div class = "title">Flight Results</div>
    {% if flights %}
        {% if returnFlights %}
        <h2 style="margin-left: 20px;">Departure Flights</h2>
        {% endif %}
        <table>
            <th> Airline Name </th>
            <th> Flight Number </th>
            <th> Departure Time </th>
            <th> Arrival Time </th>
            <th> Base Price </th>
            <th> Flight Status </th>
            <th> Departure from </th>
            <th> Departure City </th>
            <th> Arrive at </th>
            <th> Arrival City </th>
        {% for line in flights %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_num']}}</td>
                <td>{{line['dept_time']}}</td>
                <td>{{line['arr_time']}}</td>
                <td>{{line['base_price']}}</td>
                <td>{{line['flight_status']}}</td>
                <td>{{line['dept_from']}}</td>
                <td>{{line['city']}}</td>
                <td>{{line['arr_at']}}</td>
                <td>{{line['B.city']}}</td>
            </tr>
        {% endfor %}
        </table>
        {% endif %}

        {% if returnFlights %}
        <h2 style="margin-left: 20px;">Return Flights</h2>
        <table>
            <th> Airline Name </th>
            <th> Flight Number </th>
            <th> Departure Time </th>
            <th> Arrival Time </th>
            <th> Base Price </th>
            <th> Flight Status </th>
            <th> Departure from </th>
            <th> Departure City </th>
            <th> Arrive at </th>
            <th> Arrival City </th>
        {% for line in returnFlights %}
            <tr>
                <td>{{line['airline_name']}}</td>
                <td>{{line['flight_num']}}</td>
                <td>{{line['dept_time']}}</td>
                <td>{{line['arr_time']}}</td>
                <td>{{line['base_price']}}</td>
                <td>{{line['flight_status']}}</td>
                <td>{{line['dept_from']}}</td>
                <td>{{line['city']}}</td>
                <td>{{line['arr_at']}}</td>
                <td>{{line['B.city']}}</td>
            </tr>
        {% endfor %}
        </table>
    {% endif %}

    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}

    <a href="/" class="back special" >Back</a>

{% endblock %}