{% extends 'base.html' %}

{% block head %} 

{% endblock %}

{% block body %}
<div class="topBar">
    <div class="logo">Airline Ticket System</div>
</div>

<div class="line"></div>
        <!-- start of the sidebar -->
        <div class="container">
            <div class="sidebar">
                <div class="info"> 
                        <b> Staff Information: </b> </br>
                            Name: {{session["first_name"]}} {{session["last_name"]}} </br>
                        Company: {{session["airline_name"]}} </br>
                    </div>
            </br>
                <a href = "/staffHome" class = "option"> Home </a>  
                <a href = "/flightManage" class = "option"> Flights Management </a> 
                <a href = "/airSystemManage/airplane" class = "option"> Airplanes Management</a>   
                <a href = "/airSystemManage/airport" class = "option"> Airports Management</a> 
                <a href = "/flightManage" class = "option"> View Ratings</a>
                <a href = "/report/topAgent" class = "option"> View Top Booking Agents</a>  
                <a href = "/report/topCustomer" class = "option"> View Top Customers</a> 
                <a href = "/report/salesReport/default" class = "option"> View Reports </a> 
                <a href = "/report/revenueCompare" class = "option"> Revenue Comparison </a> 
                <a href = "/report/topDestination" class = "option"> Top Destination </a> 
                <a href="/logout" class="option">Log out</a>
            </div>

            <div class="content">
                {% if passenger %} 
                <div class="title staff"> Passenger's List for the Flight: </div>
                <h4> Airline Name: {{session["airline_name"]}} </h4> 
                <h4> Flight Number: {{passenger[0]["flight_num"]}} </h4> 
                <h4> Departure Time: {{passenger[0]["dept_time"]}} </h4> </br>
                
                <h4> Passenger Lists: </h4>

                <table id = "passenger_list">
                        <th> Passenger's Email </th>
                        <th> Passenger Name </th>
                        <th> Purchase Time </th>
                        <th> Actions </th>

                    {% for line in passenger %}
                    <tr>
                        <td class="passenger_list">{{line['email']}}</td>
                        <td class="passenger_list">{{line['name']}}</td>
                        <td class="passenger_list">{{line["purchase_time"]}}</td>
                        <td>
                            <a href = "/report/topCustomer/{{line['email']}}"> Flights History</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}

                {% if noFound %}
                <p class="noFound"><strong>Error:</strong> {{noFound}}</p>
                {% endif %}

                <a href='/flightManage' style="margin-top: 20px; display: inline-block;">Go back to Flight Management</a>
            </div>
        </div>

    <script src="{{ url_for('static',filename='js/script.js')}}"></script>
{% endblock %}